* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: arial, helvetica, sans-serif;
}
a {
    color: #000;
}
body {
    background: #3C0000 url("../../images/title-bg2.jpg") repeat scroll;
    padding: 23px 0px;
}

div#container {
    position: relative;
    margin: 60px auto;
    width: 900px;
    background: transparent url("../../images/site/content-bg.jpg") left top no-repeat scroll;
    height: 600px;
    opacity: .9;
    -webkit-border-radius: 33px;
    border-radius: 33px; 
    -webkit-box-shadow: inset 5px 5px 27px 3px #110; 
    box-shadow: inset 5px 5px 27px 3px #110; 
}

div#header {
    float: left;
    display: block;
    width: 900px;
    height: 93px;
    padding: 5px 0px;
    background: transparent url("../../images/site/logo.png") 9px 7px no-repeat scroll;
}

div#header h1, div#header p {
    text-align: center;
}

div#menu {
    float: left;
    width: 900px;
    height: 51px;
    background: transparent url("../../images/site/menu-bg.png") left top no-repeat scroll;
}
div#menu ul {
    float: left;
    margin-left: 30px;
}
div#menu ul li {
    display: inline-block;
    float: left;
}

div#menu ul li a {
    padding: 5px 10px;
    margin: 12px 12px 0px 0px;
    text-decoration: none;
    -webkit-border-radius: 9px;
    border-radius: 9px; 
    text-shadow: 0px 0px 5px #FFF;
    color: #600;
    opacity: .65;
    float: left;
    background: #7cd63b; /* Old browsers */
    background: -moz-linear-gradient(top, #7cd63b 0%, #a1d54f 50%, #80c217 51%, #31ba0b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cd63b), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#31ba0b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7cd63b 0%,#a1d54f 50%,#80c217 51%,#31ba0b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7cd63b 0%,#a1d54f 50%,#80c217 51%,#31ba0b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7cd63b 0%,#a1d54f 50%,#80c217 51%,#31ba0b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7cd63b 0%,#a1d54f 50%,#80c217 51%,#31ba0b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cd63b', endColorstr='#31ba0b',GradientType=0 ); /* IE6-9 */
    transition: text-shadow 500ms ease-in-out, opacity 500ms ease-in-out, color 500ms ease-in-out;
    -moz-transition: text-shadow 500ms ease-in-out, opacity 500ms ease-in-out, color 500ms ease-in-out;
    -webkit-transition: text-shadow 500ms ease-in-out, opacity 500ms ease-in-out, color 500ms ease-in-out;
    -o-transition: text-shadow 500ms ease-in-out, opacity 500ms ease-in-out, color 500ms ease-in-out;
}
div#menu ul li a.unactive {
    color: #600;
    opacity: .85;
}
div#menu ul li a.active {
    color: #000;
    background: #feccb1; /* Old browsers */
    background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
}
div#menu ul li a:hover {
    color: #0601A0;
    text-shadow: 0px 0px 4px #FFF;
    opacity: 1;
    transition: text-shadow 500ms ease-in-out, opacity 500ms ease-in, color 500ms ease-in-out;
    -moz-transition: text-shadow 500ms ease-in-out, opacity 500ms ease-in, color 500ms ease-in-out;
    -webkit-transition: text-shadow 500ms ease-in-out, opacity 500ms ease-in, color 500ms ease-in-out;
    -o-transition: text-shadow 500ms ease-in-out, opacity 500ms ease-in, color 500ms ease-in-out;
}

div#content {
    float: left;
    width: 900px;
}

div#content div.article {
    width: 646px;
    height: 385px;
    overflow: auto;
    margin: 30px 35px 30px 29px;
    float: left;
    background: transparent url("../../images/site/article.png") left top no-repeat scroll;
}
div#content div.bar {
    width: 151px;
    height: 385px;
    background: transparent url("../../images/site/bar-bg.png") left top no-repeat scroll;
    margin: 30px 0px 0px;
    float: left;
}

div#content div.article p a#demo-button {
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 30px 10px;
    color: #8A2DC4;
    opacity: .7;
    text-shadow: 0px 0px 15px #FF0;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-border-radius: 23px;
    border: 7px solid #FFF;
    border-radius: 23px; 
    -webkit-box-shadow: 2px 2px 0px 0px #333;
    box-shadow: 2px 2px 0px 0px #333; 
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
    -moz-transform: scale(0.75) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);    
    -ms-transform: scale(0.75) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);    
    -o-transform: scale(0.75) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);    
    transform: scale(0.75) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);    
    -webkit-transform: scale(0.75) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transition: 230ms ease-in-out;
    -moz-transition: 230ms ease-in-out;
    -webkit-transition: 230ms ease-in-out;
    -o-transition: 230ms ease-in-out;

}
div#content div.article p a#demo-button:hover {
    text-shadow: 0px 0px 15px #333;
    color: #0601A0;
    -moz-transform: scale(1.15) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transition: 230ms ease-in-out;
    -moz-transition: 230ms ease-in-out;
    -webkit-transition: 230ms ease-in-out;
    -o-transition: 230ms ease-in-out;
    opacity: 1;
}
div#content div.show {
    display: block;
}
div#content div.hide {
    display: none;
}

div#content div h1, div#content div h2, div#content div h3 {
    padding: 7px 7px;
    font-size: 115%;
    color: #A33;
    text-shadow: 0px 0px 4px #FFF;
    transition: 430ms ease-in-out;
    -moz-transition: 430ms ease-in-out;
    -webkit-transition: 430ms ease-in-out;
    -o-transition: 430ms ease-in-out;
}
div#content div h1:hover, div#content div h2:hover, div#content div h3:hover {
    text-shadow: 0px 0px 9px #FFF;
    color: #F33;
    transition: 430ms ease-in-out;
    -moz-transition: 430ms ease-in-out;
    -webkit-transition: 430ms ease-in-out;
    -o-transition: 430ms ease-in-out;
}
div#content div p {
    padding: 7px 7px;
    font-size: 85%;
    color: #000;
    transition: 430ms ease-in-out;
    -moz-transition: 430ms ease-in-out;
    -webkit-transition: 430ms ease-in-out;
    -o-transition: 430ms ease-in-out;
}
div#content div p:hover {
    color: #900;
    transition: 430ms ease-in-out;
    -moz-transition: 430ms ease-in-out;
    -webkit-transition: 430ms ease-in-out;
    -o-transition: 430ms ease-in-out;
}


div#content div p strong {
    text-decoration: underline;
}

div#content div ul {
    font-size: 85%;
}

div#content div ul li {
    color: #000;
    margin: -3px 0px 5px 22px;
    transition: 430ms ease-in-out;
    -moz-transition: 430ms ease-in-out;
    -webkit-transition: 430ms ease-in-out;
    -o-transition: 430ms ease-in-out;
}

div#content div ul li:hover {
    color: #900;
    transition: 430ms ease-in-out;
    -moz-transition: 430ms ease-in-out;
    -webkit-transition: 430ms ease-in-out;
    -o-transition: 430ms ease-in-out;
}
div#content div ul.freatures li {
    margin: 4px 0px 9px 22px;
}


div#content div.bar ul li {
    list-style: lower-greek;
    margin-left: 29px;
    padding-left: 3px;
}
div#content div.bar ul li a {
    color: #33F;
    text-decoration: none;
    transition: 430ms ease-in-out;
    -moz-transition: 430ms ease-in-out;
    -webkit-transition: 430ms ease-in-out;
    -o-transition: 430ms ease-in-out;
}
div#content div.bar ul li a:hover {
    color: #900;
    transition: 430ms ease-in-out;
    -moz-transition: 430ms ease-in-out;
    -webkit-transition: 430ms ease-in-out;
    -o-transition: 430ms ease-in-out;
}


div#footer {
    float: left;
    background: transparent url("../../images/site/powered.png") center top no-repeat scroll;
    width: 900px;
    margin-top: 15px;
    height: 20px;
}

p.center {
    text-align: center;
}