body {
    color: #000;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    font-weight: bold;

    background-color: #fff;
    margin: 0px;
    overflow: hidden;
}

#info {
    color:#000;
    position: relative;
    margin: 0 auto -2.1em;
    top: 0px;

    padding: 5px;
    z-index:100;
}

a { color: skyblue; }

    #stats { position: absolute; top:0; left: 0 }
    #stats #fps { background: transparent !important }
    #stats #fps #fpsText { color: #aaa !important }
    #stats #fps #fpsGraph { display: none }

img.buttons {
    position: absolute;
    display: block;
    opacity: .25;
    z-index: 10000;
}
div#gui {
    position: absolute;
    display: block;
    opacity: .35;
    z-index: 10000;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    background-color: #FFF;
}